* {
    box-sizing: border-box;
    transition: all cubic-bezier(0.36, 0.53, 0.33, 1.01) 0.2s;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #282828;
    color: #fff;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    font-size: 16px;
}

main {
    transform: translateY(-100px);
}

section {
    display: block;
    position: relative;
    max-width: 1080px;
}

h1 {
    font-size: 8rem;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}

h2 {
    font-size: 1.5rem;
    margin-top: -20px;
    padding-left: 6px;
    color: #6fff8e;
    opacity: 0.7;
}

.title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.title__text {
    display: block;
    text-align: left;
    overflow: hidden;
    width: 100%;
}

a {
    color: #6fff8e;
    text-decoration: none;
    margin-right: 0;
    position: relative;
}

a:hover {
    opacity: 1;
}

a:hover h1,
a:hover h2 {
    opacity: 1;
}

a:hover h2 {
    transition: all cubic-bezier(0.36, 0.53, 0.33, 1.01) 0.2s;
}

a .text {
    margin-right: 0.75rem;
}

.email {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

a:hover .email {
    visibility: visible;
    transition: all cubic-bezier(0.36, 0.53, 0.33, 1.01) 0.2s;
    transform: translateX(0.5rem);
}

.icons {
    position: relative;
    width: 24px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 24px;
}

.icons .icon {
    width: 24px;
}

.icons .zmdi-email,
.zmdi-email-open {
    display: flex;
    position: absolute;
    top: 2px;
    left: 0;
    transition: all cubic-bezier(0.36, 0.53, 0.33, 1.01) 0.2s;
    transition-delay: 0.2s;
}

.icons .zmdi-email {
    margin-right: 10px;
    margin-left: 0;
    padding-left: 0;
}

a:hover .icons .zmdi-email {
    transform: translateY(-100%);
}

.icons .zmdi-email-open {
    transform: translateY(100%);
}

a:hover .icons .zmdi-email-open {
    transform: translateY(0);
}
