/*
Blake Lyons
08/03/2023
*/

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img {
    max-width: 100%;
}

h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    line-height: 1.75rem;
    font-size: 1.3rem;
    color: hsl(218, 44%, 22%);
}

p {
    padding: 0 1rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.qr-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 18px;
    padding: 0.875rem;
    box-shadow: 0 0 50px rhsl(220, 15%, 55%);
    width: 320px;
    max-height: 500px;
}

.qr-container .qr-code {
    width: 100%;
}

.qr-container .qr-code,
.qr-container .qr-code img {
    border-radius: 12px;
}

.qr-container .qr-text {
    text-align: center;
    font-size: 0.875rem;
}
